# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK 8
      uses: actions/setup-java@v5
      with:
        java-version: '8'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven (Java 8)
      run: mvn -B package --file pom.xml
    - name: Clean target
      run: rm -r target
    - uses: actions/checkout@v6
    - name: Set up JDK 11
      uses: actions/setup-java@v5
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: maven
    - name: Full dist build
      run: mvn -B package --file pom-dist.xml
    - name: List target directory
      run: ls -l target
    - name: Copy dist artifacts to staging directory
      run: mkdir staging && cp target/*.jar staging
    - name: Set up JDK 17
      uses: actions/setup-java@v5
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
    - name: Clean target
      run: rm -r target
    - name: Build with Maven (Java 21)
      run: mvn -B package --file pom.xml
    - name: Upload dist artifacts
      uses: actions/upload-artifact@v4
      with:
        name: Package
        path: staging
      
